<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <p>
            <input type="file" name="imagem" id="imagem">
        </p>
        <p>
            <button type="submit">Enviar</button>
        </p>
    </form>
    <h2>Imagem</h2>
    <div>
        {% for image_file in image_files %}
            <img src="{{ url_for('uploaded_file', filename=image_file) }}" alt="Imagem carregada" width="200">
        {% endfor %}
    </div>
    
    
</body>
</html>